<div class="container portfolio-banner-container no-print">
  <div class="portfolio-banner">
    <div class="pb-left">
      <img src="{{ '/images/pdf-icon.png' | relative_url }}" alt="PDF Icon" class="pb-pdf-img">
    </div>

    <div class="pb-center">
      <h2 class="pb-title">포트폴리오 보러가기</h2>
      <a href="https://drive.google.com/file/d/1fX-grOJ0y5htdaxib1m4l9GotuyjED8z/view?usp=drive_link" target="_blank" class="pb-button">
        <i class="fas fa-download"></i> 포트폴리오 미리 보기
      </a>
      <a href="{{ '/images/Portfolio.pdf' | relative_url }}" target="_blank">
          PDF 다운로드
      </a>
    </div>

    <div class="pb-right">
      <ul class="pb-checklist">
        <li><i class="far fa-check-circle"></i> 프로젝트 상세 경험</li>
        <li><i class="far fa-check-circle"></i> 아키텍처 의사결정</li>
        <li><i class="far fa-check-circle"></i> 성과 및 성능 개선 사례</li>
        <li><i class="far fa-check-circle"></i> 실무 트러블 슈팅 사례</li>
      </ul>
    </div>
  </div>
</div>
