.last-updated {
  position: absolute;
  top: 16px;
  right: 24px;

  font-size: 0.75rem;
  color: #777;
  opacity: 0.85;
  z-index: 10;

  mark {
    background: none;
    color: #111;
    font-weight: 600;
  }
}
