.last-updated {
  position: fixed;   
  top: 12px;
  right: 24px;

  font-size: 0.75rem;
  color: #777;
  opacity: 0.85;
  z-index: 1000;    

  mark {
    background: none;
    color: #111;
    font-weight: 600;
  }
}
